
<%=image_tag 'logo.png' ,alt:'buyer_logo', class:'nav_logo' %>
<span class="bussiness">for Bussiness</span>
<hr class="hr_line">


<div class="info_div">
   <p class="kitchen_heading">Get started with online ordering</p>
   <p class="info_add">Please keep the documents ready for a smooth signup</p>
   <%=image_tag 'tick.png' ,alt:'tick', class:'tick1' %><p class="tick_1_info" >FSSAI license copy</p>
   <%=image_tag 'tick.png' ,alt:'tick', class:'tick2' %><p class="tick_2_info" >PAN card copy</p><br>
   <%=image_tag 'tick.png' ,alt:'tick', class:'tick3' %><p class="tick_3_info" >Aadhar card copy</p>
   <%=image_tag 'tick.png' ,alt:'tick', class:'tick4' %><p class="tick_4_info" >Bank account details</p><br>
   <%=image_tag 'tick.png' ,alt:'tick', class:'tick5' %><p class="tick_5_info" >Your Kitchen menu</p>
   <%=image_tag 'tick.png' ,alt:'tick', class:'tick6' %><p class="tick_6_info" >Dish images for top 5 items</p>
</div>
<div class="start_div">
<span class="inside_div" >To get started with registration</span><br>
 <a href="add_kitchen_form"><button class="click_here">Click Here</button></a>
</div>
<div class="work_info">
<span class="heading_div">How it Works?</span>
   <%=image_tag 'add_kitchen2ndbg.webp' ,alt:'bg_img', class:'bg_img_2' %>
   <div class="first_div">
   <%=image_tag 'step_1' ,alt:'step_1', class:'steps' %><br>
   <span class="step_head">Step 1</span><br>
   <span class="sub_head">Create your page on Suvaicious</span><br>
   <span class="about">Help users discover your place by creating a listing on Suvaicious</span>
   </div>
    <div class="second_div">
   <%=image_tag 'step_2' ,alt:'step_2', class:'steps' %><br>
   <span class="step_head" >Step 2</span><br>
   <span class="sub_head" >Register for online ordering</span><br>
   <span class="about">And deliver orders to millions of customers with ease</span>
   </div>
    <div class="third_div">
   <%=image_tag 'step_3' ,alt:'step_3', class:'steps' %><br>
   <span class="step_head" >Step 3</span><br>
      <span class="sub_head" >Start receiving orders online</span><br>
      <span class="about">Manage orders on our partner app, web dashboard or API partners</span>
   </div>
</div>


