<style>
  body {
    background-image: url(<%=asset_path"background_image"%>);
    background-repeat: no-repeat;
    background-size: 100%;
  }
</style>

<ul id="nav_bar">
  <li><a href="home">Home</a></li>
  <li><a href="#">Kitchen</a></li>
  <li><a href="#buyer_heading">Buyer</a></li>
  <li><a href="#seller_heading">Seller</a></li>
  <li><a href="about_us">About us</a></li>
</ul>

<div>
  <%=image_tag 'logo.png' ,alt:'logo', class: 'logo' %>
</div>

<p class="slogan">Healthy food ,<span class="slogan2">Good Suvai!!</span></p>

<div>
    <p class="phrase"><span class="quotation">"</span>We take care of all your nutrition worries to ensure that you have your
       tummies filled with healthy, scrumptious and homely food.<span class="quotation">"</span>
    </p>
<div>

<div>
   <a href="login" ><button class="login">Login</button></a>
   <a href="add_kitchen"><button class="restaurant_button">Add Kitchen</button></a>
</div>

<div id="buyer_heading">
    <span>Buyer</span>
      <%=image_tag 'buyer.png' ,alt:'buyer_logo', class:'buyer_logo' %>
        <p class="buyer_phrase">Hungry? Why wait? Grab a healthy, home made food.</p>
          <div class="buyer_div_blocks">
             <div class="buyer_1"><br><span class="buyer_point_1"> Homemade authentic dishes delivered at your doorstep!</span></div>
             <div class="buyer_2"><br><span class="buyer_point_2"> Personalized cooking by FSSAI-certified chefs!</span></div>
             <div class="buyer_3"><br><span class="buyer_point_3">Corporate Events / Parties - Our chefs cook for all occasions!</span></div>
                 <%=image_tag 'buyer_1.png' ,alt:'logo', class:'buyer_image1' %><br>
                 <%=image_tag 'buyer_2.png' ,alt:'logo', class:'buyer_image2' %><br>
                 <%=image_tag 'buyer_3.png' ,alt:'logo', class:'buyer_image3' %>         
</div>

<div><iframe class="buyers_video" src="https://www.youtube.com/embed/SKqYoyN99lY" title="YouTube video player" width="600" height="370" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div><span class="registration_heading">Save time & money with subscription orders!</span></div>
        <div><a href="subscription  " ><button class="subscription_button">Plan your monthly/weekly order</button></a></div>
        <div class="buyers_testimonial"><span>Buyers Testimonial</span></div>
</div>

<div class="parent_grid">
     <div id="child_grid_1">
       <%=image_tag 'reviewer_1' ,alt:'reviewer', class:"reviewer" %><span class="reviewer_name" >Haiden</span>
       <%=image_tag 'rating.png' ,alt:'rating', class:"rating" %>
       <%=image_tag 'review_1_food.jpg' ,alt:'food', class:"food_image" %> 
       <p class="reviews_about_food">"The food was top notch and gives the feel of home. I would definitely recommend this kitchen."</p>
    </div>

    <div id="child_grid_2">
       <%=image_tag 'reviewer_2' ,alt:'reviewer', class:"reviewer" %><span class="reviewer_name" >Aswath</span>
       <%=image_tag 'rating.png' ,alt:'rating', class:"rating" %>
       <%=image_tag 'review_2_food.jpg' ,alt:'food', class:"food_image" %> 
       <p class="reviews_about_food">“We enjoyed the Eggs Benedict served on homemade focaccia bread and hot coffee.</p>
    </div>

   <div id="child_grid_3">
       <%=image_tag 'reviewer_3' ,alt:'reviewer', class:"reviewer" %><span class="reviewer_name" >Annamalai</span>
       <%=image_tag 'rating.png' ,alt:'rating', class:"rating" %>
       <%=image_tag 'review_3_food.jpg' ,alt:'food', class:"food_image" %> 
       <p class="reviews_about_food">Very helpful during these challenging covid times, to get healthy home food and quick delivery.</p>
    </div>
</div>

<div class="parent_grid">
     <div id="second_child_grid1">
       <%=image_tag 'reviewer_4' ,alt:'reviewer', class:"reviewer" %><span class="reviewer_name" >santhanu</span>
       <%=image_tag 'rating.png' ,alt:'rating', class:"rating" %>
       <%=image_tag 'review_4_food.jpg' ,alt:'food', class:"food_image" %> 
       <p class="reviews_about_food">"All food gives the home made taste. Surely I will order again. This app was really nice. Very useful for the homemakers."</p>
    </div>

    <div id="second_child_grid2">
       <%=image_tag 'reviewer_5' ,alt:'reviewer', class:"reviewer" %><span class="reviewer_name" >Venkat</span>
       <%=image_tag 'rating.png' ,alt:'rating', class:"rating" %>
       <%=image_tag 'review_5_food.jpg' ,alt:'food', class:"food_image" %> 
       <p class="reviews_about_food">"Suzhiyam taste was super. Beetroot halwa was so good and the masal vadai was so crispy and taste. Will order again."</p>
    </div>

   <div id="second_child_grid3">
       <%=image_tag 'reviewer_6' ,alt:'reviewer', class:"reviewer" %><span class="reviewer_name" >Prassanna</span>
       <%=image_tag 'rating.png' ,alt:'rating', class:"rating" %>
       <%=image_tag 'review_6_food.jpg' ,alt:'food', class:"food_image" %> 
       <p class="reviews_about_food">"The Idiyappam with coconut milk was really good, soft nd non sticky. Authentic home style cooking. True to their claim! Highly recommended."</p>
    </div>
</div>
</div>

<div class="parent_grid">
     <div id="third_child_grid1">
       <%=image_tag 'reviewer_7' ,alt:'reviewer', class:"reviewer" %><span class="reviewer_name" >Annapoorni</span>
       <%=image_tag 'rating.png' ,alt:'rating', class:"rating" %>
       <%=image_tag 'review_7_food.jpg' ,alt:'food', class:"food_image" %> 
       <p class="reviews_about_food">"Simply one word to say I am very much impressed 100 %worth really homemade."</p>
    </div>

    <div id="third_child_grid2">
       <%=image_tag 'reviewer_8' ,alt:'reviewer', class:"reviewer" %><span class="reviewer_name" >Sangeetha</span>
       <%=image_tag 'rating.png' ,alt:'rating', class:"rating" %>
       <%=image_tag 'review_8_food.jpg' ,alt:'food', class:"food_image" %> 
       <p class="reviews_about_food">"Ordered fish curry and rasam. The taste of the fish curry was so yum and the quantity was also so sufficient. Must try food it is. Rasam was good and my kids loved it."</p>
    </div>

   <div id="third_child_grid3">
       <%=image_tag 'reviewer_9' ,alt:'reviewer', class:"reviewer" %><span class="reviewer_name" >Kasi Antony</span>
       <%=image_tag 'rating.png' ,alt:'rating', class:"rating" %>
       <%=image_tag 'review_9_food.jpg' ,alt:'food', class:"food_image" %> 
       <p class="reviews_about_food">"Wonderful & dedicated preparation, Makes a huge difference from a normal hotel food and a Home made hygienic food."</p>
    </div>
</div>
</div>


<div class="slider_button_div">
    <button onclick="get1('first_grid')" id="slider_button1"></button>
    <button onclick="get2('second_grid')" id="slider_button2"></button>
    <button onclick="get3('third_grid')" id="slider_button3"></button>
</div>



<script>
  function get1() {
        document.getElementById("child_grid_1").style.display = "block";
        document.getElementById("child_grid_2").style.display = "block";
        document.getElementById("child_grid_3").style.display = "block";   
        document.getElementById("second_child_grid1").style.display = "none";
        document.getElementById("second_child_grid2").style.display = "none";
        document.getElementById("second_child_grid3").style.display = "none";   
        document.getElementById("third_child_grid1").style.display = "none";
        document.getElementById("third_child_grid2").style.display = "none";
        document.getElementById("third_child_grid3").style.display = "none"; 
       

}

function get2() {
        document.getElementById("child_grid_1").style.display = "none";
        document.getElementById("child_grid_2").style.display = "none";
        document.getElementById("child_grid_3").style.display = "none";   
        document.getElementById("second_child_grid1").style.display = "block";
        document.getElementById("second_child_grid2").style.display = "block";
        document.getElementById("second_child_grid3").style.display = "block";   
        document.getElementById("third_child_grid1").style.display = "none";
        document.getElementById("third_child_grid2").style.display = "none";
        document.getElementById("third_child_grid3").style.display = "none"; 

}

function get3() {
        document.getElementById("child_grid_1").style.display = "none";
        document.getElementById("child_grid_2").style.display = "none";
        document.getElementById("child_grid_3").style.display = "none";   
        document.getElementById("second_child_grid1").style.display = "none";
        document.getElementById("second_child_grid2").style.display = "none";
        document.getElementById("second_child_grid3").style.display = "none";   
        document.getElementById("third_child_grid1").style.display = "block";
        document.getElementById("third_child_grid2").style.display = "block";
        document.getElementById("third_child_grid3").style.display = "block"; 
}
</script>

<div class="seller_whole_div">
<div id="seller_heading">
       <span>Seller</span>
          <%=image_tag 'seller.png' ,alt:'seller_logo', class:'seller_logo' %>
             <div class="seller_div_blocks">
                <div class="seller_1"><br><span class="seller_point_1">Earn minimum ₹25,000/- monthly by serving healthy home food</span></div>
                <div class="seller_2"><br><span class="seller_point_2"></span>Guaranteed weekly payments</div>
                  <div class="seller_3"><br><span class="seller_point_3"></span>Our customer support is your online backbone</div>
                    <%=image_tag 'seller_1.png' ,alt:'logo', class:'seller_image1'%><br>
                    <%=image_tag 'seller_2.png' ,alt:'logo', class:'seller_image2'%><br>
                    <%=image_tag 'seller_3.png' ,alt:'logo', class:'seller_image3'%> 
                  </div>
                      <div><iframe class="seller_video" src="https://www.youtube.com/embed/pZFAw7Q3Zyk" title="YouTube video player" width="600" height="370" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                       <div class="sellers_testimonial"><span>Sellers Testimonial</span></div>

   <div id="seller_testimonial1">
       <%=image_tag "seller_testimonial3" ,alt:"seller_testimonial1", class:"seller_testimonial_1" %><p class="seller_name_1" >Rashmika Mandanna<p>
       <p class="shop_name_1">Chef at App Suvaicious - Rashii</p>
       <p class="about_seller_1">"Hi I am Rashmika, I am passionate about cooking, my entire family members love my cooking, my son suggested me why don't you cook and sell in online, most of the bachelors can't get the quality and home made food, at that time we found " App Suvaicious" it was interesting and we registered in it where I can prepare homemade food with love and passion, to all age people, I feel happy that all people are eating healthy and mom's food from the App Suvaicious.Great work keep it up!"</p>
   </div>

      <div id="seller_testimonial2">
       <%=image_tag "seller_testimonial2" ,alt:"seller_testimonial2", class:"seller_testimonial_2" %><p class="seller_name_2" >Pranitha Subhash<p>
       <p class="shop_name_2">Chef at App Suvaicious - Verdure</p>
       <p class="about_seller_2">"Hi, this is Jacintha, came across App Suvaicious on Facebook. A beautiful platform for homemakers to earn through their passion. Easy to register, no upfront fee of any kind. I would recommend this to homemakers, good at cooking, to join and share their dishes with people who are really in need of good home food. A very good opportunity for home makers to showcase their cooking skills and also make an earning through their passion. Polite, Respectful, and friendly team.Thank you for this wonderful opportunity you provide to make my passion into a profitable and appreciable business."</p>
   </div>

    <div id="seller_testimonial3">
       <%=image_tag "seller_testimonial1" ,alt:"seller_testimonial3", class:"seller_testimonial_3" %><p class="seller_name_3" >Pooja Hegde<p>
       <p class="shop_name_3">Chef at App Suvaicious - Dial and Eat</p>
       <p class="about_seller_3">"Hi I am Pooja hedge, I am passionate about cooking, my entire family members love my cooking, my son suggested me why don't you cook and sell in online, most of the bachelors can't get the quality and home made food, at that time we found " App Suvaicious" it was interesting and we registered in it where I can prepare homemade food with love and passion, to all age people, I feel happy that all people are eating healthy and mom's food from the App Suvaicious.Great work keep it up!"</p>
   </div>

   <div class="slider_button_div2">
    <button onclick="show1('first_grid')" id="slider_bttn1"></button>
    <button onclick="show2('second_grid')" id="slider_bttn2"></button>
    <button onclick="show3('third_grid')" id="slider_bttn3"></button>
</div>

<script>
function show1(){
   document.getElementById("seller_testimonial1").style.display = "block";
   document.getElementById("seller_testimonial2").style.display = "none";
   document.getElementById("seller_testimonial3").style.display = "none";
}

function show2(){
   document.getElementById("seller_testimonial1").style.display = "none";
   document.getElementById("seller_testimonial2").style.display = "block";
   document.getElementById("seller_testimonial3").style.display = "none";
}

function show3(){
   document.getElementById("seller_testimonial1").style.display = "none";
   document.getElementById("seller_testimonial2").style.display = "none";
   document.getElementById("seller_testimonial3").style.display = "block";
}

</script>

</div>

<div class="app_map">
       <%=image_tag "background_map" ,alt:"background_map", class:"background_map" %>
       <%=image_tag "map_1" ,alt:"map_1", class:"map_1" %>
       <%=image_tag "map_2" ,alt:"map_2", class:"map_2" %>
</div>

<div class="footer">
       <%=image_tag "logo" ,alt:"logo", class:"footer_logo" %>
       <p class="footer_about"><span class=apos>"</span> Creating a healthy India by <br> serving home food and <br> Empower woman to earn from <br> their own kitchen.<span class=apos>"</span></p>
      <span class="app_suvaicious" >APP Suvaicious</span>
      <div  class="suvaicious_cons" >
          <a class="link_suv" href="https://www.appgoodfood.in/AppGOODFOODT&C.pdf" target="_blank" >Terms & conditions</a><br>
          <a class="link_suv" href="https://www.appgoodfood.in/AppGOODFOOD_Privacy%20Policy.pdf" target="_blank" >Privacy policy</a><br>
          <a class="link_suv" href="https://www.appgoodfood.in/AppGOODFOOD_Cancellation%20and%20Refund%20Policy.pdf" target="_blank" >Refund & cancellation</a><br>
          <a class="link_suv" href="https://www.appgoodfood.in/AppGOODFOOD_FAQ.pdf" target="_blank" >FAQ</a>
      </div>
      <span class="get_in_touch" >Get In Touch</span>
      <div class="information">
            <span id="info" ><a id="link" href="mailto:suvaiciousapp@gmail.com">rishijeeva13@gmail.com</a></span><br>
            <span id="info" ><a id="link" href="callto:+91 6381950080">+91 6381950080</a></span>
      </div>
      <span class="follow">Follow us on</span>
<div class="social_media">
       <%=image_tag "fb" ,alt:"fb", class:"app" %>
       <%=image_tag "wa" ,alt:"wa", class:"app" %>
       <%=image_tag "insta" ,alt:"insta", class:"app" %><br>
       <%=image_tag "twitter" ,alt:"twitter", class:"app" %>
       <%=image_tag "linkedin" ,alt:"linkedin", class:"app" %>
       <%=image_tag "youtube" ,alt:"youtube", class:"app" %>
</div>
  <a href="#nav_bar"><button class="up_arrow_bttn">🠕</button></a>
</div>