<style>
  body {
    background-image: url(<%=asset_path"background_image"%>);
    background-repeat: no-repeat;
    background-size: 100%;
  }
</style>

<ul class="nav_bar">
  <li><a href="home">Home</a></li>
  <li><a href="#">Shops</a></li>
  <li><a href="#buyer_heading">Buyer</a></li>
  <li><a href="#seller_heading">Seller</a></li>
  <li><a href="about_us">About us</a></li>
</ul>

<div>
  <%=image_tag 'logo.png' ,alt:'logo', class: 'logo' %>
  </%=image_tag>
</div>
<p class="slogan">Healthy food ,<span class="slogan2">Good Suvai!!</span></p>

<div>
  <p class="phrase">
    <span class="quotation">"</span>We take care of all your nutrition worries to ensure that you have your
    tummies filled with healthy, scrumptious and homely food.<span class="quotation">"</span>
  </p>
  <div>
    <div>
      <button class="login">Login</button><button class="restaurant_button">Add Restaurant</button>
    </div>

    <div id="buyer_heading">
      <span>Buyer</span>
      <%=image_tag 'customer.png' ,alt:'buyer_logo', class:'buyer_logo' %>
        <p class="buyer_phrase">Hungry? Why wait? Grab a healthy, home made food.</p>
        <div class="buyer_div_blocks">
          <div class="buyer_1"><br><span class="buyer_point_1"> Homemade authentic dishes delivered at your
              doorstep!</span></div>
          <div class="buyer_2"><br><span class="buyer_point_2"> Personalized cooking by FSSAI-certified chefs!</span>
          </div>
          <div class="buyer_3"><br><span class="buyer_point_3">Corporate Events / Parties - Our chefs cook for all
              occasions!</span></div>
          <%=image_tag 'buyer_1.png' ,alt:'logo', class:'buyer_image1' %><br>
            <%=image_tag 'buyer_2.png' ,alt:'logo', class:'buyer_image2' %><br>
              <%=image_tag 'buyer_3.png' ,alt:'logo', class:'buyer_image3' %>

             
        </div>
        <div><iframe class="buyers_video" src="https://www.youtube.com/embed/SKqYoyN99lY" title="YouTube video player"
            width="600" height="370" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></div>

        <div><span class="registration_heading">Save time & money with subscription orders!</span></div>
        <div><button class="subscription_button">Plan your monthly/weekly order</button></div>
        <div class="buyers_testimonial"><span>Buyers Testimonial</span></div>
        <!-- </div>
  <div class="buyers_div">
    <div class="buyers_image_div">
      <%=image_tag 'buyer_image.jpg' ,alt:'buyer_image', class: 'buyer_image' %>
    </div>
    <p class="about_buyers">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </p>
  </div> -->
        <!-- <div id="seller_heading">
    <span>seller</span> <%=image_tag 'seller.png' ,alt:'seller_logo', class:'seller_logo' %>
  </div>
  <div class="seller_div">
    <div class="sellers_image_div">
      <%# <%=image_tag '#' ,alt:'seller_image', class: 'seller_image' %> %>
    </div>
    <p class="about_buyers">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </p>
  </div> -->





        <!-- <div>
  <p class="about_suvaicious">
    Missing home food? You have come to the right place. Suvaicious is a
    platform where we connect homemakers and hungry customers for an amazing
    culinary experience. At Suvaicious, we ensure that high quality home cooked
    meals are delivered to you in a timely and efficient manner. We source our
    food from the best home chefs in Chennai who are looking to put their
    cooking skills to good use while earning some money too. We also guarantee
    that the food is delivered to your doorstep. Check out our website for more
    details… Bon Appetit!!!
  </p>
</div> -->

        <%# < div>
        </%#>
      </%=image_tag>
    </div>
  </div> %>

  <div id="seller_heading">
    <span>Seller</span>
    <%=image_tag 'seller.png' ,alt:'seller_logo', class:'seller_logo' %>
      <div class="seller_div_blocks">
        <div class="seller_1"><br><span class="seller_point_1">Earn minimum ₹25,000/- monthly by serving healthy home food</span></div>
        <div class="seller_2"><br><span class="seller_point_2"></span>Guaranteed weekly payments</div>
        <div class="seller_3"><br><span class="seller_point_3"></span>Our customer support is your online backbone</div>
        <%=image_tag 'seller_1.png' ,alt:'logo', class:'seller_image1'%><br>
        <%=image_tag 'seller_2.png' ,alt:'logo', class:'seller_image2'%><br>
        <%=image_tag 'seller_3.png' ,alt:'logo', class:'seller_image3'%> 

      
      </div>
      <div><iframe class="seller_video" src="https://www.youtube.com/embed/pZFAw7Q3Zyk" title="YouTube video player" width="600" height="370"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe></div>
  
  </div>
</div> 